/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




/* ------------------------- stili header ------------------------- */
header {
    display: flex;
    flex-direction: column;
}

#top-header {
    min-height: 50px;
    background-color: #2A5EE8;
    width: 100%;
    display: flex;
    padding-top: 10px;
}

#box-top-header {
    min-height: 40px;
    margin: 5px auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

#header-image-container {
    display: flex;
    margin: 0px auto;
}

#logo-discord {
    width: 100%;
}

#link-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#header-button-container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login-button {
    padding: 8px 10px;
    border-radius: 50px;
    background-color: white;
    border:none;
    font-size: 13px;
}


#header-big-container {
    width: 100%;
    display: flex;
    min-height: 400px;
    background-image: url(img/jumbo.png);
    background-size: cover;
}

#header-main-section {
    background-color: rgb(0,0,0,0);
    width: 45%;
    margin: 80px auto;
}

#header-main-section > p, #header-main-section > h1 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 40px;
}

#header-main-section > p {
    padding-top: 50px;
    line-height: 20px;
}

#main-buttons-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.button {
    font-size: 16px;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}

#download-mac-button {
    background-color: white;
    color: gray;
}

#open-in-browser-button {
    background-color: black;
    color: white;
}


/* --------------------------- stili main --------------------------- */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.white-box {
    min-height: 550px;
    background-color: white;
    width: 100%;
    display: flex;
}

.gray-box {
    min-height: 550px;
    background-color: #F6F6F6;
    width: 100%;
    display: flex;
}

.infobox {
    width: 75%;
    margin: 25px auto;
    display: flex;
    min-height: 350px;
}

.big-section {
    width: 75%;
    text-align: center;
}

.picture {
    display: block;
    margin: 25px auto;
}

.small-section {
    width: 25%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.small-section > h2 {
    width: 92%;
    padding-top: 55px;
    font-size: 45px;
}

.small-section > p {
    width: 91%;
    font-size: 18px;
    padding-top: 20px;
    line-height: 30px;
}

#change-order {
    order: -1;
    align-items: flex-start;
}

#bigger-section {
    width: 70%;
    margin: 25px auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bigger-section > h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 45px;
}

#bigger-section > p {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    width: 85%;
    line-height: 25px;
}

h3 {
    font-size: 28px;
    padding-bottom: 25px;
}

#bigger-section > button  {
    padding: 15px 25px;
    background-color: #8EA1E1;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}



/* ------------------------- stili footer ------------------------- */
footer {
    display: flex;
    flex-direction: column;
}

#top-footer {
    width: 100%;
    min-height: 300px;
    background-color: rgb(43, 43, 58);
    display: flex;
    border-bottom: 1px solid white;
}

#footer-big-section {
    display: flex;
    width: 70%;
    margin: 25px auto;
    border: 1px solid white;
}

#footer-social-section {
    display: flex;
    width: 40%;
    background-color: rgb(255, 156, 173);
    flex-direction: column;
}

#footer-social-section > h3 {
    font-size: 40px;
    color: #8EA1E1;
    width: 70%;
    line-height: 45px;
}

#select-language {
    width: 50%;
    height: 25px;
    display: flex;
}



#select-language > span {
    align-self: center;
    margin-left: 5px;
}


.footer-link-column {
    display: flex;
    width: 15%;
    background-color: rgb(92, 215, 222);
    border: 1px solid white;
}

#low-footer {
    display: flex;
    width: 100%;
    background-color: rgb(43, 43, 58);
    min-height: 80px;
}

#low-footer-container {
    width: 70%;
    background-color: rgb(159, 255, 255);
    height: 60px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

#low-footer-button {
    display: flex;
}

#registrati-button {
    background-color: #8EA1E1;
    border: 0px;
    margin: 15px;
    padding: 0 9px;
    border-radius: 50px;
    color: white;
}